
/* Your CSS Code here. */
.table{
	width:600px;
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
tr#total{
	height:40px;
	width:50px;
	 
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.Total{
	height:40px;
	width:50px;
	 
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

}
thead{
 color:black;
}
tfoot {
  margin:left:30px;
	text-align: center; 
}

caption {
    padding: 10px;
    caption-side: bottom;
}
td {
    text-align: center;
}
